:root {
  --accent-color: #2196f3;
  --titel-color: #212121;
  --text-color: #757575;
  --footer-color: rgba(255, 255, 255, 0.6);
  --clien-icon: rgba(175, 177, 184, 1);
  --time-cube: cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #fff;
  color: var(--text-color);
  font-family: "Roboto", font-family;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway", font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__web {
  color: var(--accent-color);
}

.logo--white {
  color: #fff;
  padding: 0;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: visibility 250ms var(--time-cube), -webkit-transform 250ms var(--time-cube);
  transition: visibility 250ms var(--time-cube), -webkit-transform 250ms var(--time-cube);
  transition: transform 250ms var(--time-cube), visibility 250ms var(--time-cube);
  transition: transform 250ms var(--time-cube), visibility 250ms var(--time-cube), -webkit-transform 250ms var(--time-cube);
  visibility: hidden;
  pointer-events: none;
  overflow-y: scroll;
}

.mobile-menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.mobile-menu__conteiner {
  position: relative;
}

.mobile-menu__close-btn {
  position: absolute;
  border: 0;
  padding: 0;
  top: 10px;
  right: 15px;
  background-color: transparent;
  line-height: 0;
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
  -webkit-transition: fill 250ms var(--time-cube);
  transition: fill 250ms var(--time-cube);
}
.mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus {
  fill: var(--accent-color);
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-navigation {
  margin-top: 48px;
  margin-left: 25px;
}

.mobile-menu-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: left;
  letter-spacing: 0.02em;
  color: var(--titel-color);
  -webkit-transition: color 250ms var(--time-cube);
  transition: color 250ms var(--time-cube);
}
.mobile-menu-navigation__link:hover, .mobile-menu-navigation__link:focus {
  color: var(--accent-color);
}

.mobile-menu-navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-navigation__link--current:not(:last-child) .mobile-menu-navigation__item {
  margin-bottom: 36px;
}

.mobile-menu-navigation__link--current {
  color: var(--accent-color);
}

.mobile-menu-contact {
  margin-left: 25px;
  margin-top: 302px;
}

.mobile-menu-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color);
  -webkit-transition: color 250ms var(--time-cube);
  transition: color 250ms var(--time-cube);
}
.mobile-menu-contact__mail:hover, .mobile-menu-contact__mail:focus {
  color: var(--accent-color);
}

.mobile-menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  width: 100%;
  margin-left: 25px;
  margin-top: 64px;
  margin-bottom: 48px;
}

.mobile-menu-social-media__item:not(:last-child) {
  margin-right: 10px;
}

.mobile-menu-social-media__item:nth-child(n+2) {
  padding-left: 10px;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(33, 33, 33, 0.2);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 10px 32px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms var(--time-cube);
  transition: background-color 250ms var(--time-cube);
}
.button:hover, .buttonfocus {
  background-color: #188ce8;
}

.socialmedia__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  display: flex;
  gap: 10px;
}

.socialmedia__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  width: 40px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--time-cube);
  transition: background-color 250ms var(--time-cube);
}
.socialmedia__link:hover, .socialmedia__link:focus {
  background-color: var(--accent-color);
}
.socialmedia__link:hover .socialmedia__icon, .socialmedia__link:focus .socialmedia__icon {
  fill: #fff;
}

.socialmedia__link--grey {
  background-color: rgba(255, 255, 255, 0.1);
}

.socialmedia__icon {
  fill: var(--clien-icon);
  -webkit-transition: fill 250ms var(--time-cube);
  transition: fill 250ms var(--time-cube);
}

.socialmedia__icon--white {
  fill: #fff;
}

.section__titel {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--titel-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__titel {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.footer__titel {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__titel {
    text-align: left;
  }
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.header .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .contact {
    display: none;
  }
  .open-mobile-menu-btn__icon {
    width: 40px;
    height: 40px;
  }
  .open-mobile-menu-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .header__conteiner {
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.hero {
  height: 400px;
  text-align: center;
  padding: 118px 0;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding: 200px 0;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.benefits__icon {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

.benefits__icon svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.benefits__titel {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--titel-color);
  text-align: center;
}

.benefits__text {
  line-height: 1.71;
}

.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
}
.occupation {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .occupation {
    display: block;
  }
}

.occupation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.occupation__item {
  position: relative;
  width: calc((100% - 60px) / 3);
  margin-right: 15px;
  margin-left: 15px;
}
.occupation__item:last-child {
  margin-bottom: 0;
}

.occupation__titel {
  position: relative;
}

.occupation__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team__item {
  margin-bottom: 30px;
  padding-bottom: 24px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__ppl {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--titel-color);
  text-align: center;
  padding-top: 30px;
}

.team__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .team__item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}
.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.client__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 150px) / 6);
  }
}

.client__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--clien-icon);
  border-radius: 4px;
  height: 92px;
  -webkit-transition: border-color 250ms var(--time-cube);
  transition: border-color 250ms var(--time-cube);
}
.client__card:hover, .client__card:focus {
  border-color: var(--accent-color);
}
.client__card:hover .client__icon, .client__card:focus .client__icon {
  fill: var(--accent-color);
}

.client__icon {
  fill: var(--clien-icon);
  -webkit-transition: fill 250ms var(--time-cube);
  transition: fill 250ms var(--time-cube);
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__address {
  margin-bottom: 60px;
  text-align: center;
}

.address {
  font-style: normal;
  line-height: 1.71;
  color: #fff;
  margin-top: 20px;
}

.address__link {
  color: #fff;
  padding: 0;
}

.address__item {
  margin-bottom: 8px;
}

.address__mail-tel {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms var(--time-cube);
  transition: color 250ms var(--time-cube);
}
.address__mail-tel:hover, .address__mail-tel:focus {
  color: var(--accent-color);
}

.join {
  margin-bottom: 60px;
}

.sign-up__imput {
  max-width: 450px;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: inherit;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  outline: none;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4p rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4p rgba(0, 0, 0, 0.15);
  -webkit-transition: border 250ms var(--time-cube);
  transition: border 250ms var(--time-cube);
  margin-bottom: 20px;
}
.sign-up__imput:focus-within {
  border: 1px solid var(--accent-color);
}

.button__titel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button__titel::after {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 24px;
  height: 24px;
  content: "";
  background-image: url(../images/plane.svg);
  margin-left: 10px;
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sign-up__form {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .sign-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
  .sign-up__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .sign-up__imput {
    width: 358px;
  }
  .footer__button {
    margin-left: 12px;
    min-width: 200px;
    height: 50px;
  }
  .join {
    margin-bottom: 0;
    margin-left: 70px;
  }
  .footer__address {
    text-align: left;
    margin-bottom: 0;
  }
  .footer__div {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.filter__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--titel-color);
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color 250ms var(--time-cube), color 250ms var(--time-cube), -webkit-box-shadow 250ms var(--time-cube);
  transition: background-color 250ms var(--time-cube), color 250ms var(--time-cube), -webkit-box-shadow 250ms var(--time-cube);
  transition: background-color 250ms var(--time-cube), color 250ms var(--time-cube), box-shadow 250ms var(--time-cube);
  transition: background-color 250ms var(--time-cube), color 250ms var(--time-cube), box-shadow 250ms var(--time-cube), -webkit-box-shadow 250ms var(--time-cube);
}
.filter__button:hover, .filter__button:focus {
  color: #fff;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter li:first-child {
  margin-bottom: 7px;
}

.filter .current {
  color: #fff;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 326px;
  margin-bottom: 40px;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .filter {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.portfolio__titel {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titel-color);
}

.portfolio__subtitel {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
  margin-top: 4px;
}

.portfolio__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--time-cube);
  transition: -webkit-box-shadow 250ms var(--time-cube);
  transition: box-shadow 250ms var(--time-cube);
  transition: box-shadow 250ms var(--time-cube), -webkit-box-shadow 250ms var(--time-cube);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:hover .portfilio__overlay, .portfolio__link:focus .portfilio__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
}

.portfolio__card {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
  padding: 20px 24px;
}

.portfolio__item:not(:last-child) {
  margin-bottom: 30px;
}

.portfolio__img {
  position: relative;
  overflow: hidden;
}

.portfolio__description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.portfilio__overlay {
  position: absolute;
  display: inline-block;
  background-color: rgba(33, 150, 243, 0.9);
  bottom: 0;
  height: 100%;
  padding: 77px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--time-cube);
  transition: -webkit-transform 250ms var(--time-cube);
  transition: transform 250ms var(--time-cube);
  transition: transform 250ms var(--time-cube), -webkit-transform 250ms var(--time-cube);
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .portfolio__item {
    width: calc((100% - 30px) / 2);
  }
  .portfolio__card {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .portfolio__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 60px) / 3);
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 250ms var(--time-cube), visibility 250ms var(--time-cube) 0s;
  transition: opacity 250ms var(--time-cube), visibility 250ms var(--time-cube) 0s;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: -webkit-transform 250ms var(--time-cube);
  transition: -webkit-transform 250ms var(--time-cube);
  transition: transform 250ms var(--time-cube);
  transition: transform 250ms var(--time-cube), -webkit-transform 250ms var(--time-cube);
}
@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 450px;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    -webkit-transition: -webkit-transform 250ms var(--time-cube);
    transition: -webkit-transform 250ms var(--time-cube);
    transition: transform 250ms var(--time-cube);
    transition: transform 250ms var(--time-cube), -webkit-transform 250ms var(--time-cube);
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  cursor: pointer;
  padding: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: fill 250ms var(--time-cube);
  transition: fill 250ms var(--time-cube);
}
.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

.form,
.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  border: 0;
  padding: 40px;
}

.label {
  position: relative;
  margin-bottom: 10px;
}

.textarea {
  margin-bottom: 20px;
}

.modal__titel {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titel-color);
  margin-bottom: 12px;
}

.label__name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.lebel__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.label__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms var(--time-cube);
  transition: fill 250ms var(--time-cube);
}

.label__input {
  width: 100%;
  height: 40px;
  padding: 12px 16px 12px 42px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 250ms var(--time-cube);
  transition: border 250ms var(--time-cube);
}
.label__input:focus-within {
  border: 1px solid var(--accent-color);
}
.label__input:focus-within + .label__icon {
  fill: var(--accent-color);
}

.label__textarea {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  margin-top: 4px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 250ms var(--time-cube);
  transition: border 250ms var(--time-cube);
}
.label__textarea:focus-within {
  border: 1px solid var(--accent-color);
}

.consent__text {
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
  margin-left: 8px;
}

.consent {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consent__contract {
  text-decoration: underline;
  color: var(--accent-color);
}

.consent__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.consent__input:checked + .conset__checkbox {
  background-image: url(../images/checkbox-icon.svg);
}

.conset__checkbox {
  display: inline-block;
  min-width: 16px;
  height: 15px;
  background-image: url(../images/checkbox-border.svg);
  -webkit-transition: background-image 250ms var(--time-cube);
  transition: background-image 250ms var(--time-cube);
}

.modal__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  min-width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */