.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99;
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms var(--time-cube), visibility 250ms var(--time-cube) 0s;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}