.form,
.label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    border: 0;
    padding: 40px;
}

.label {
    position: relative;
    margin-bottom: 10px;
}

.textarea {
    margin-bottom: 20px;
}

.modal__titel {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--titel-color);
    margin-bottom: 12px;
}

.label__name {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
}

.lebel__wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
}

.label__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    transition: fill 250ms var(--time-cube);
}

.label__input {
    width: 100%;
    height: 40px;
    padding: 12px 16px 12px 42px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border 250ms var(--time-cube);

    &:focus-within {
        border: 1px solid var(--accent-color);
    }

    &:focus-within+.label__icon {
        fill: var(--accent-color);
    }
}

.label__textarea {
    resize: none;
    padding: 12px 16px;
    height: 120px;
    width: 100%;
    margin-top: 4px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border 250ms var(--time-cube);

    &:focus-within {
        border: 1px solid var(--accent-color);
    }
}

.consent__text {
    line-height: 1.71;
    color: #757575;
    margin-left: 8px;
}

.consent {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.consent__contract {
    text-decoration: underline;
    color: var(--accent-color);
}

.consent__input {
    position: absolute;
    appearance: none;

    &:checked+.conset__checkbox {
        background-image: url(../images/checkbox-icon.svg);
    }
}

.conset__checkbox {
    display: inline-block;
    width: 16px;
    height: 15px;
    background-image: url(../images/checkbox-border.svg);
    transition: background-image 250ms var(--time-cube);
}

.modal__button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    min-width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}