.portfolio__titel {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--titel-color);
}

.portfolio__subtitel {
    font-size: 16px;
    line-height: 1.88;
    color: var(--text-color);
    margin-top: 4px;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }

    &:nth-child(3n) {
        margin-right: 0;
    }
}


.portfolio__link {
    display: block;
    transition: box-shadow 250ms var(--time-cube);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .portfilio__overlay,
    &:focus .portfilio__overlay {
        transform: translateY(0);
        visibility: visible;
    }
}

.portfolio__card {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #eeeeee;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eeeeee;

    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #eeeeee;

    padding: 20px 24px;
}

.portfolio__img {
    position: relative;
    overflow: hidden;
}

.portfolio__description {
    height: 100%;
    width: 100%;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #fff;
    overflow: auto;
}

.portfilio__overlay {
    position: absolute;
    display: inline-block;
    background-color: rgba(33, 150, 243, 0.9);
    bottom: 0;
    width: 100%;
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms var(--time-cube);
    visibility: hidden;
}