.logo {
    font-family: 'Raleway', font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.logo__web {
    color: var(--accent-color);
}

.logo--white
 {
    color: #fff;
    padding: 0;
}