:root {
    --accent-color: #2196f3;
    --titel-color: #212121;
    --text-color: #757575;
    --footer-color: rgba(255, 255, 255, 0.6);
    --clien-icon: rgba(175, 177, 184, 1);
    --time-cube: cubic-bezier(0.4, 0, 0.2, 1);
}